@using TDF.Demo.Service.Dtos.SystemManage
@model List<SystemModuleDto>
@{
    ViewBag.Title = "Index";
}
<!-- Head Css Styles-->
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Scripts/t2m_adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

    <style>
        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }
    </style>

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        权限管理
        <small>系统资源列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 权限管理</a></li>
        <li class="active">系统资源列表</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">

                <button class="btn btn-default btn-xs btn-box-tool" type="button" data-toggle="modal" data-target="#modal-default">
                    <i class="fa fa-plus"></i> 新 增
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="defaultTable" class="table table-bordered table-hover" ></table>
        </div>

    </div>
    <!-- 弹出框模板 -->
    <div class="modal fade" id="modal-default" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form_edit" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">新增菜单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>资源类型</label>
                                    <select id="selectActionType" class="form-control" name="ActionType" required>
                                        <option value="Page" selected="selected">页面</option>
                                        <option value="Function">功能操作</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="divModuleList" class="form-group">
                                    <label>所属菜单</label>
                                    <select class="form-control" name="ModuleId" required>
                                        @foreach (SystemModuleDto item in Model)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div id="divPageList" class="form-group" style="display: none;">
                                    <label>所属页面</label>
                                    <select id="actionPageCommbox" class="form-control" name="ActionPageCommbox" required>
                                        
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>名称</label>
                                    <input name="Id" type="hidden" class="form-control" value="">
                                    <input name="Name" type="text" class="form-control" maxlength="8" placeholder="8个字以内" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>URL</label>
                                    <input name="Url" type="text" class="form-control" maxlength="120" placeholder="后台资源相对路径" required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>显示到菜单</label>
                                    <div class="form-group">
                                        <label class="col-md-4">
                                            <input type="radio" name="Displayed" class="minimal" value="true" checked> 显示
                                        </label>

                                        <label>
                                            <input type="radio" name="Displayed" class="minimal" value="false"> 隐藏
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>状态</label>
                                    <div class="form-group">
                                        <label class="col-md-4">
                                            <input type="radio" name="Disabled" class="minimal" value="false" checked>
                                            启用
                                        </label>
                                        <label>
                                            <input type="radio" name="Disabled" value="true" class="minimal">
                                            禁用
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="hide">重置</button>
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取 消</button>
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- End 弹出框模板 -->
</section>
 <!-- css 样式隐藏分页 #defaultTable=tabeid-->
<style>
    #defaultTable_paginate {
        display: none;
    }
</style>

@section scripts{
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net/buttons/dataTables.buttons.js"></script>
    <script src="~/Scripts/t2m_adminlte/js/datatables/dataTablesForTDF.js"></script>
    <script>
        var opColumns = function (data, type, row, meta) { //data是当前的数据  //row是整个行的数据 //meta表示 行 列
            var modelData = escape(JSON.stringify(row));
            
            return '<a type="button"  href="javascript:clickEdit(' + modelData + ');" data-id="' + data + '" class="dataTablesEdit" data-row="' + meta.row + '">编辑</a> | <a type="button"  href="javascript:clickDelete(\'' + data + '\');" data-id="' + data + '" class="dataTablesDel" data-row="' + meta.row + '">删除</a>';
        };
        var opIconColumns = function(data, type, row, meta) {
            if (data)
                data = '<i class="' + data + '"> ' + data;
            return data;
        }
        var bindActionPagesCommbox = function(ajaxUrl, selectValue) { // Page类型的 Action数据加载
                $.getJSON(ajaxUrl, function(data) {
                    if (data.Success) {
                        $("#actionPageCommbox").html("");
                        $.each(data.Value, function(i, item) {
                            var selected = "";
                            if ((item.Id + "," + item.ModuleId) === selectValue) {
                                selected = "selected=\"selected\"";
                                // $("#actionPageCommbox").val(item.Value);
                            }
                            $("#actionPageCommbox").append("<option value=\"" + (item.Id + "," + item.ModuleId) + "\" " + selected + ">" + item.Name + "</option>");
                        });
                    }
                });
            },
            bindEditData = function(data) { // 编辑时 初始数据绑定
                var form = $('#form_edit');
                $('input[name="Id"]', form).val(data.Id);
                $('input[name="Name"]', form).val(data.Name);
                $('input[name="Url"]', form).val(data.Url);


                $('select[name="ActionType"]', form).val(data.ActionType === 1 ? "Page" : "Function");
                if (data.ActionType === 1) {
                    $('#divPageList').hide();
                    $('#divModuleList').show();
                    $('#divModuleList').val(data.ModuleId);
                } else {
                    $('#divPageList').show();
                    $('#divModuleList').hide();
                    $('#divPageList').val(data.ActionParentId + "," + data.ModuleId);
                }

                var rDisplayedVal = data.Displayed ? "true" : "false";                
                $(":radio[name='Displayed'][value='" + rDisplayedVal + "']", form).iCheck('check');
               
                var rDisabledVal = data.Disabled ? "true" : "false";
                $(":radio[name='Disabled'][value='" + rDisabledVal + "']", form).iCheck('check');
            },
            clickEdit = function (data) { //点击触发编辑
                data = JSON.parse(unescape(JSON.stringify(data)));
                bindEditData(data);
                $('#modal-default').find('.modal-title').html('编辑');
                // 需要 赋予初始值
                bindEditData(data);
                //打开 弹出窗
                $('#modal-default').modal('show');
            },
            clickDelete = function (id) {
                bootbox.confirm("您确定要删除？", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("DeleteAction")",
                            data: { id: id },
                        async: false,
                        success: function (result) {
                            if (result.Success) {
                                resetForm();
                                $("#tree").jstree().refresh();
                                showToast(0, '系统消息', '删除成功，菜单将自动刷新');
                                reload();
                            } else
                                showToast(3, '系统消息', result.Message);
                        },
                        error: function (request) {
                            showToast(3, '系统消息', "error");
                        }
                    });
                }
                });
            }


        $(function() {
            bindActionPagesCommbox("@Url.Action("GetResourcesPagesByCommbox")");

            $('#selectActionType').change(function() {
                var value = $(this).val();
                if (value === "Function") {
                    $('#divPageList').show();
                    $('#divModuleList').hide();
                } else {
                    $('#divPageList').hide();
                    $('#divModuleList').show();
                }
            });


            // 弹出框 菜单 新增/编辑操作
            $('#modal-default').on('hidden.bs.modal', function () {
                $('#modal-default').find("input[type='hidden']").val('');
                $('#modal-default').find('button[type="reset"]').click();
            });


            customFormValidate($('#form_edit'), {}, function(form) {
                var data = $(form).serializeObject();
                var isLoadPagesCommbox = (data.ActionType === "Page" && data.Id === "");
                $.ajax({
                    url: '@Url.Action("SaveAction")',
                    type: 'post',
                    data: data,
                    success: function(result) {
                        if (result.Success) {
                            showToast(0, '系统消息', '保存成功');
                            //关闭弹出框
                            $('#modal-default').modal('hide');

                            if (isLoadPagesCommbox)
                                bindActionPagesCommbox("@Url.Action("GetResourcesPagesByCommbox")");

                            //刷新列表
                            reload();
                            //.....
                        } else {
                            showToast(3, '系统消息', result.Message);
                        }
                    }
                });
            }, {});
            // End 弹出框 菜单 新增/编辑操作


            //修改列表
            tabColumns =  [
                    { "data": "Sort", "title": "", sortable: true }, //{}
                    { "data": "DisplayName", "title": "资源名称", sortable: false },
                    { "data": "ModuleName", "title": "所属菜单", render: opIconColumns },
                    { "data": "Code", "title": "资源Code" },
                    { "data": "ActionTypeStr", "title": "资源类型" },
                    { "data": "Url", "title": "ActionURL" },
                    { "data": "ShowStr", "title": "显示到菜单" },
                    { "data": "StateStr", "title": "状态" },
                    { "data": "Id", "title": "操作", render: opColumns }
            ];
            rowCallback = function (row, data, index) {
                    
                if (data.ActionParentId !== "00000000-0000-0000-0000-000000000000") {
                    $(row).addClass("fun_" + data.ActionParentId);
                    $('td:eq(0)', row).html("");
                }
                else {
                    $(row).css('background-color', '#f9f9f9');
                    var btn = $('<i class="fa fa-list-ul active" style="cursor:pointer"></i>');
                    btn.attr('tdf-page-id', 'fun_' + data.Id);
                    btn.click(function () {
                        var pageFuncClass = $(this).attr('tdf-page-id');
                        if ($(this).hasClass('active')) {
                            $('.' + pageFuncClass, $('#defaultTable')).hide();
                            $(this).removeClass('active');
                        } else {
                            $('.' + pageFuncClass, $('#defaultTable')).show();
                            $(this).addClass('active');
                        }
                    });
                    $('td:eq(0)', row).html(btn);
                }
            };
            //通常用于对参数的额外加工 回调函数
            var serverParam = function (dataParams) {
                return dataParams;
            }

            var opts = {
                showButtons: true, // 是否显示操作按钮组
                buttons: [], //操作按钮组 在showButtons==true时 默认会有一个 刷新按钮
                ordering: false,
                lengthChange: false, //是否允许用户改变 PageSize
                pageSize: 20, //PageSize 设置 默认为 10
                searching: true, //是否开启 默认关键词搜索
                searchPlaceholder: "资源名称", //默认搜索框提示文字
                searchTextWidth: "200px",//默认搜索框的宽度 默认值：标准宽度
                paging: false
            };
            var tableList = TdfDataTableParams.CreateDataTable('defaultTable', 'form_search', '@Url.Action("GetResourcesPagedList")', tabColumns, opts, serverParam, rowCallback);
            //筛选启用/禁用
            $("#form_search [name='Disabled']").on("change", function () {
                tableList.draw();
            })
            //重载当前页面
            reload = function () {
                tableList.ajax.reload();
            }
        });
    </script>
}
