
@{
    ViewBag.Title = "Index2";
}
@section styles{
<link rel="stylesheet" href="~/Scripts/t2m_adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link href="~/Scripts/webuploader-0.1.5/webuploader.css" rel="stylesheet" />
<link href="~/Scripts/webuploader-0.1.5/style.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        OCR_Deom
        <small>数据扫描</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> OCR_Deom</a></li>
        <li class="active">数据扫描</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">

                <a href="@Url.Action("List")" class="btn btn-default btn-xs btn-box-tool">
                    <i class="fa fa-list-ul"></i> 返回列表
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-5">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">图片：<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>


                                        <div class="col-md-12">
                                            <div id="uploader-demo" class="wu-example" style="width: 105px; display: inline-block;">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            @if (!ViewBag.ListGo)
                            {
                                <input type="hidden" id="hidd_imgPath" value="" />
                                <button id="btn_ocr" type="button" class="btn btn-default btn-sm">开始识别</button>
                            }
                            
                        </div>
                    </div>

                    <div class="row">
                        <div id="divFlies" class="uploader-list" style="margin-left: 10px;  margin-top: 10px;">


                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="row">
                        <form id="form_search" class="form-horizontal">
                            <input name="Id" type="hidden" class="form-control" value="@Model.Id">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">公司名称</label>
                                        <div class="col-sm-8">
                                            <input name="Company" type="text" class="form-control input-sm" placeholder="" value="@Model.Company">
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">地  址</label>
                                        <div class="col-sm-8">
                                            <input name="DeliveryAddress" type="text" class="form-control input-sm" placeholder="" value="@Model.DeliveryAddress">
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">票据单号</label>
                                        <div class="col-sm-8">
                                            <input name="InvoiceNumber" type="text" class="form-control input-sm" placeholder="" value="@Model.InvoiceNumber">
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">出票时间</label>
                                        <div class="col-sm-8">
                                            <input name="InvoiceDate" type="text" class="form-control input-sm" placeholder="" value="@Model.InvoiceDate">
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">总金额</label>
                                        <div class="col-sm-8">
                                            <input name="TotalAmount" type="text" class="form-control input-sm" placeholder="" value="@Model.TotalAmount">
                                        </div>
                                    </div>


                                </div>



                            </div>
                            <input id="ListData" name="ListData" type="hidden"  class="form-control input-sm" placeholder="" value="@Model.ListData">
                        </form>
                    </div>


                    <table id="example1" class="table table-bordered table-striped table-hover">
                        



                    </table>

                    <div class="row" style="margin-top: 20px; ">
                        <button id="btn_saveOcr" type="button" class="btn btn-primary btn-sm">保存到数据库</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

@section scripts{
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/webuploader-0.1.5/webuploader.min.js"></script>
    <script src="~/Scripts/webuploader-0.1.5/webuploader.html5only.min.js"></script>
    <script>
        /*
  * 文件上传
  * filePakerId {String}上传控件ID
  * divFileListId {String}文件列队容器ID
  * uploadServerUrl {String}文件上传服务接口URL
  * fileOptions {Object}[可选][文件参数:限制文件上传个数、单个文件大小、列队文件总大小]
  * formData {Object}[可选]文件上传附加参数
  * formFileVal {Object} [可选] [默认值：'FileModel'] 设置文件上传域的name。
  * deleteFileServerUrl {String}[可选]文件删除服务接口URL
  */
        var loadImgFileupload = function(filePakerId, divFileListId, uploadServerUrl, fileOptions, formData, formFileVal, deleteFileServerUrl) {

            var fileOption = fileOptions || {
                fileNumLimit: 15, //默认: 表示列队中只能有N个文件
                fileSizeLimit: 50 * 1024 * 1024, //默认:表示列队中的所有文件不能超过 50 MB
                fileSingleSizeLimit: 2 * 1024 * 1024 //默认:表示单个文件不能超过2MB
            };


            var fileDom = $('#' + filePakerId), //file Dom
                queueFileDom = $('#' + divFileListId), //文件列队Dom
                fileVal = formFileVal || "FileModel";

            var jscUploader = WebUploader.create({
                server: uploadServerUrl,
                formData: formData || {},
                fileVal: fileVal,
                pick: { id: fileDom, multiple: false, label: "选择图片" },
                resize: false,
                height: 32,
                fileNumLimit: fileOption.fileNumLimit,
                fileSizeLimit: fileOption.fileSizeLimit,
                fileSingleSizeLimit: fileOption.fileSingleSizeLimit,
                accept: {
                    title: '图片',
                    extensions: 'gif,jpg,png',
                    mimeTypes: 'image/*'
                },
                onBeforeFileQueued: function(file) {
                    if (queueFileDom.children().length >= fileOption.fileNumLimit) {
                        showToast(3, '系统提示', "最多只能上传" + fileOption.fileNumLimit + "张图片！");
                        return false;
                    }
                    return true;
                },
                onFileQueued: function(file) {
                    $('#hidd_imgPath').val('');
                    var $img = $('<img src="" style="max-width: 560px; border: 1px solid #ccc;"/>');

                    // $list为容器jQuery实例
                    queueFileDom.html('');
                    queueFileDom.append($img);
                    //立即上传
                    jscUploader.upload(file);
                },
                onError: function(code) {
                    if (code === "Q_TYPE_DENIED")
                        showToast(3, '系统提示', "不支持的文件格式！");
                    else if (code === "Q_EXCEED_NUM_LIMIT")
                        showToast(3, '系统提示', "只能上传" + fileOption.fileNumLimit + "张图片！");
                    else if (code === "Q_EXCEED_SIZE_LIMIT")
                        showToast(3, '系统提示', "只能上传小于" + (fileOption.fileSingleSizeLimit / 1048576) + "MB的图片！");
                    else if (code === "F_EXCEED_SIZE")
                        showToast(3, '系统提示', "只能上传小于" + (fileOption.fileSingleSizeLimit / 1048576) + "MB的图片！");
                    else
                        console.log(code);
                },
                onUploadSuccess: function(file, respData) {

                    if (respData.Success) {
                        queueFileDom.find('img').attr('src', respData.Value.Item2);
                        $('#hidd_imgPath').val(respData.Value.Item2);
                    }

                },
                onUploadComplete: function(file) {

                },
                onUploadProgress: function(file, percentage) {
                    var $li = $('#' + file.id),
                        $percent = $li.find('.progress span');

                    // 避免重复创建
                    if (!$percent.length) {
                        $percent = $('<p class="progress"><span></span></p>')
                            .appendTo($li)
                            .find('span');
                    }

                    $percent.css('width', percentage * 100 + '%');

                },
                onUploadError: function(file) {
                    var $li = $('#' + file.id),
                        $error = $li.find('div.error'),
                        $percent = $li.find('.progress span'),
                        $delete = $li.find('div.delete');
                    if (!$delete.length) {
                        $delete = $('<div class="delete"></div>').appendTo($li);
                    }
                    $delete.html('<img title="从列队中删除" data-fileId="' + file.id + '" src="/Scripts/webuploader-0.1.5/delete.png" />');
                    $delete.find("img").on('click', function() {
                        var fileId = $(this).attr("data-fileId");
                        jscUploader.removeFile(fileId, true);
                        $('#' + fileId).remove();
                    });

                    $percent.hide();
                    // 避免重复创建
                    if (!$error.length) {
                        $error = $('<div class="error"></div>').appendTo($li);
                    }

                    $error.text('上传失败');

                }
            });
        };

        //图片上传
        loadImgFileupload('uploader-demo', 'divFlies', '@Url.Action("Upload")');


        $(function() {
            var colNames = ["Reference", "Designation", "Unit", "Quantity", "UnitPrice", "Total"];
            var opColumns = function(data, type, row, meta) { //data是当前的数据  //row是整个行的数据 //meta表示 行 列
                var col = meta.col;
                var name = colNames[col];
                var style = 'style="width:90px;"';
                if (col < 2)
                    style = '';

                return '<input  type="text" td_name="' + name + '" class="form-control input-sm" ' + style + ' value="' + data + '">';
            }
            var bindDataList = function(datas) {
                $('#example1').dataTable({
                    //dom: "t",
                    searching: false,
                    ordering: false,
                    info: false,
                    paging: false,
                    lengthChange: false,
                    data: datas,
                    columns: [
                        { "data": "Reference", "title": "Reference", render: opColumns },
                        { "data": "Designation", "title": "Designation", render: opColumns },
                        { "data": "Unit", "title": "Unit", render: opColumns },
                        { "data": "Quantity", "title": "Quantity", render: opColumns },
                        { "data": "UnitPrice", "title": "UnitPrice", render: opColumns },
                        { "data": "Total", "title": "Total", render: opColumns }
                    ]

                });

            };
            $('#btn_ocr').click(function() {
                var imgPath = $('#hidd_imgPath').val();
                if (imgPath) {
                    $.getJSON('@Url.Action("OCRImg")', { imgPath: imgPath }, function(data) {
                        if (data.Success) {
                            $('#imgData').html(JSON.stringify(data.Value));
                            $("[name='InvoiceNumber']").val(data.Value.Data.InvoiceNumber);
                            $("[name='InvoiceDate']").val(data.Value.Data.InvoiceDate);
                            $("[name='DeliveryAddress']").val(data.Value.Data.DeliveryAddress);
                            $("[name='TotalAmount']").val(data.Value.Data.TotalAmount);
                            $("[name='Company']").val(data.Value.Data.Company);

                            bindDataList(data.Value.ListData);
                        } else {

                        }

                    });
                } else {
                    alert('请选择要识别的图片');
                }

            });


            $('#btn_saveOcr').click(function() {
                var oddTr = $('#example1').find('.odd');
                var evenTr = $('#example1').find('.even');
                var list = [];

                oddTr.each(function(i, tr) {
                    var model = {};
                    model.Reference = $(tr).find("input[td_name='Reference']").val();
                    model.Designation = $(tr).find("td[td_name='Designation']").val();
                    model.Unit = $(tr).find("input[td_name='Unit']").val();
                    model.Quantity = $(tr).find("input[td_name='Quantity']").val();
                    model.UnitPrice = $(tr).find("input[td_name='UnitPrice']").val();
                    model.Total = $(tr).find("input[td_name='Total']").val();
                    list.push(model);
                });
                evenTr.each(function (i, tr) {
                    var model = {};
                    model.Reference = $(tr).find("input[td_name='Reference']").val();
                    model.Designation = $(tr).find("td[td_name='Designation']").val();
                    model.Unit = $(tr).find("input[td_name='Unit']").val();
                    model.Quantity = $(tr).find("input[td_name='Quantity']").val();
                    model.UnitPrice = $(tr).find("input[td_name='UnitPrice']").val();
                    model.Total = $(tr).find("input[td_name='Total']").val();
                    list.push(model);
                });

                var subModel = {
                    InvoiceNumber: $('#form_search').find("input[name='InvoiceNumber']").val(),
                    InvoiceDate: $('#form_search').find("input[name='InvoiceDate']").val(),
                    DeliveryAddress: $('#form_search').find("input[name='DeliveryAddress']").val(),
                    TotalAmount: $('#form_search').find("input[name='TotalAmount']").val(),
                    Company: $('#form_search').find("input[name='Company']").val(),
                    ListData: list
                };
                subModel.ListData = JSON.stringify(list);
                if (subModel.Company) {
                    $.ajax({
                        url: '@Url.Action("SaveOcr")',
                        type: 'post',
                        data: subModel,
                        success: function(result) {
                            if (result.Success) {
                                showToast(0, '系统消息', "数据已录入系统");
                                setTimeout(function() {
                                    location.href = "@Url.Action("List")";
                                }, 500);

                            } else {
                                showToast(3, '系统消息', result.Message);
                            }
                        }
                    });
                } else {
                    alert("公司名称必须有数据");
                }
            });

            
            var isListGo = "@ViewBag.ListGo"=="True";
            if (isListGo) {
                var dataListStr = $("#ListData").val();
                dataListStr =dataListStr==""?"[]":dataListStr;
                var jsonObj = JSON.parse(dataListStr);
                bindDataList(jsonObj);
            }


        });


    </script>


}